<% provide(:title, "All users") %>
<h1>All users</h1>
<%= search_form_for @q do |f| %> 
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>
  <%# # Tìm kiếm nhiều field like %abc%
  <%= f.label :name_or_description_or_content_cont %>
  <%# <%= f.search_field :name_or_description_or_content_cont %> 
  <%= f.submit 'Search Name', class: "btn btn-primary" %>
 <% end %>
  <ul class = "users">
    <%= render @users %>
  </ul>
 <%= will_paginate %> 